<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>9413f29f0230c907af9179660d2c007b</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>8CA223B5-2E6B-4109-B106-2CA8ECBBAC5E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8E241F8-260C-4C4F-8622-547ACD40E1F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B2766B5C-9C5D-4BE4-A748-35C43FCD5C7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8CA223B5-2E6B-4109-B106-2CA8ECBBAC5E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8E241F8-260C-4C4F-8622-547ACD40E1F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6E2A9C6-DF28-4D39-9650-8673AFB68CA9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E08E8DFE-441C-4CA9-AE49-32F1C48AF4E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED372CF1-8F02-4187-96D6-D276880337D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED372CF1-8F02-4187-96D6-D276880337D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>57278C73-4078-496D-A3D8-39CB666BC622</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F6E2A9C6-DF28-4D39-9650-8673AFB68CA9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D053A63E-958C-444E-B92E-734B24EDE9CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Killua Chen</string>
	<key>description</key>
	<string>斗图啦，收集了成千上万的撕逼斗图表情包，在这里你可以快速找到想要的表情</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>斗图神器2.2</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dtclear</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>删除斗图缓存文件</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E08E8DFE-441C-4CA9-AE49-32F1C48AF4E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>root=`pwd -P`
rm -rf "$root""/images/"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ED372CF1-8F02-4187-96D6-D276880337D3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>斗图缓存清理完成</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>57278C73-4078-496D-A3D8-39CB666BC622</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>斗图神器2.0</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D053A63E-958C-444E-B92E-734B24EDE9CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dt</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>玩命加载中...</string>
				<key>script</key>
				<string>query=$1
./DouTu2.0 -query {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>正在搜索 '{query}'</string>
				<key>title</key>
				<string>正在搜索 '{query}'</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8CA223B5-2E6B-4109-B106-2CA8ECBBAC5E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./FileToClipboard ~/Pictures/dt-placeholder.jpg
[ $? -eq "0" ] &amp;&amp; echo "🌈 Copied" || echo "❎ Failed"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F6E2A9C6-DF28-4D39-9650-8673AFB68CA9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cp $1 ~/Pictures/dt-placeholder.jpg</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B8E241F8-260C-4C4F-8622-547ACD40E1F2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B2766B5C-9C5D-4BE4-A748-35C43FCD5C7C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>- 斗图神器依赖于[我爱斗图](https://www.52doutu.cn/)网站
- 2.2采用Golang开发,使用Goroutine提升用户体验
- 添加剪切板交互方式,感谢[Cong YU](https://github.com/imcuttle)贡献方案
- 2.2添加缓存清理功能
- GitHub:https://github.com/KilluaChen/Dou-figure-alfred-workflow</string>
	<key>uidata</key>
	<dict>
		<key>57278C73-4078-496D-A3D8-39CB666BC622</key>
		<dict>
			<key>xpos</key>
			<integer>875</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>8CA223B5-2E6B-4109-B106-2CA8ECBBAC5E</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>B2766B5C-9C5D-4BE4-A748-35C43FCD5C7C</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>B8E241F8-260C-4C4F-8622-547ACD40E1F2</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>D053A63E-958C-444E-B92E-734B24EDE9CE</key>
		<dict>
			<key>xpos</key>
			<integer>1050</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>E08E8DFE-441C-4CA9-AE49-32F1C48AF4E0</key>
		<dict>
			<key>xpos</key>
			<integer>445</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>ED372CF1-8F02-4187-96D6-D276880337D3</key>
		<dict>
			<key>xpos</key>
			<integer>655</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>F6E2A9C6-DF28-4D39-9650-8673AFB68CA9</key>
		<dict>
			<key>xpos</key>
			<integer>860</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.2</string>
	<key>webaddress</key>
	<string>https://killuachen.com</string>
</dict>
</plist>
